<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <nav th:fragment="navbar" class="navbar navbar-expand-sm fixed-top iis-cocoa">
        <h1>
            <a th:href=" @{~/}" class="navbar-brand mr-auto iis-brand" style="margin-left: 10px;">IIS Forum</a>
        </h1>
        <ul id="nav-mobile" class="navbar-nav ml-auto">
            <li sec:authorize="!hasAnyRole('USER, MODERATOR, ADMIN')" class="nav-item">
                <a class="nav-link btn iis-btn modal-trigger" href="#modal-user-create">Sign up</a>
            </li>
            <li sec:authorize="!hasAnyRole('USER, MODERATOR, ADMIN')" class="nav-item">
                <a class="nav-link btn iis-btn modal-trigger" th:href="@{/login}">Sign in</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn iis-btn" th:href="@{/users}">Users</a>
            </li>
            <li sec:authorize="hasAnyAuthority('ROLE_USER, ROLE_MODERATOR, ROLE_ADMIN')" class="nav-item">
                <a class="nav-link btn iis-btn" th:href="@{/topic/new}">New topic</a>
            </li>
            <li sec:authorize="hasAnyAuthority('ROLE_USER, ROLE_MODERATOR, ROLE_ADMIN')" class="nav-item">
                <a class="nav-link btn iis-btn" th:href="@{/myprofile}">My Profile</a>
            </li>
            <li sec:authorize="hasAnyAuthority('ROLE_USER, ROLE_MODERATOR, ROLE_ADMIN')" class="nav-item">
                <a class="nav-link btn iis-btn" th:href="@{/logout}">Logout</a>
            </li>
        </ul>

        <div th:replace="fragments/user_form :: modal_user_login_form"></div>
        <div th:replace="fragments/create_user_modal_form :: create_user_modal_form"></div>
    </nav>
</body>
</html>
