body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	background-color: #DABE99;
}

footer {
	flex: 1 0 auto;
}

nav {
	font-weight: 300;
	box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
}

body>.container {
	padding-top: 50px;
	min-height: 75vh;
}
th, td {
	min-width: 100px;
}
.bold {
	font-weight: bold;
}
.iis-main {
	position: relative;
	min-height: 100vh;
}
.iis-camel {
	background-color: #BF9972;
}
.iis-coffee {
	background-color: #6f4e37;
}
.iis-cocoa {
	background-color: #35281e;
}
.iis-footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	min-height: 165px;
	color: #E2BB7B;
}
.iis-copyright {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #261C15;
}
.iis-back {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 35px;
}
.iis-btn {
	min-width: 100px;
	background-color: #BF9972;
	border-color: #BF9972;
}
.iis-btn:hover {
	background-color: #A47449;
	border-color: #A47449;
}
.iis-btn2 {
	height: 50px;
	background-color: #A47449;
	border-color: #35281e;
}
.iis-btn2:hover {
	background-color: #BF9972;
	border-color: #35281e;
}
.iis-oval {
	padding: 10px;
	border-radius: 15px;
	box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
}
.iis-tpc-head {
	font-weight: bold;
	font-size: 20px;
}
.iis-link {
	color: #E2BB7B;
}
.iis-link:hover {
	text-decoration: underline;
	color: #E2BB7B;
}
.iis-topics {
	padding: 5px;
	background-color: #81613e;
	border-color: #8F6B45;

	border-style: inset;
}
div.iis-topics a, div.iis-topics a:hover {
	color: #E2BB7B;
}
.iis-brand {
	font-size: 100%;
}
a.iis-brand:link, a.iis-brand:visited {
	color: #E2BB7B;
}
ul.iis-list {
	list-style-type: none;
	padding-left: 0;
	margin-left: 0;
}
.iis-resp-padding {
	padding-top: 22vh !important;
	padding-bottom: 230px;
}
.iis-users-padding {
	padding-bottom: 300px;
}
div.row.iis-coffee {
	margin-bottom: 10px;
}
/* update bootstrap to keep navbar horizontal */
.navbar-nav { flex-direction:row !important; }
