<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">


<head>
</head>

<body>
    <footer th:fragment="footer" class="pt-4 iis-cocoa iis-footer">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h5>IIS Forum</h5>
                    <p>An university project, where our main purpose was to implement a social site in a forum form.</p>
                </div>
                <div class="col-sm-1"></div>
                <div class="col">
                    <h5>Links</h5>
                    <ul>
                        <li>
                            <a th:href="@{https://github.com/Geffikk/iis-projekt}">Project Forum on GitHub</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center iis-copyright">2020 Maroš Geffert, Patrik Tomov, Tomáš Lisický</div>

        <script type="text/javascript" th:src="@{/resources/js/signin-signup-modal.js}"></script>
    </footer>
</body>
</html>
