<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:insert="fragments/head :: head">
</head>
<body>
    <div class="iis-main">
        <nav th:insert="fragments/navbar :: navbar"></nav>
        <div class="container iis-camel iis-resp-padding">
            <div class="container">
                <div class="row iis-coffee iis-oval" th:if="${sections.size() > 0}">
                    <div class="col">
                        <div class="row" id="sections">
                            <div class="col">
                                <div class="row">
                                    <div class="col">
                                        <h4 th:text="#{sections}">Sections</h4>
                                    </div>
                                    <div class="col">
                                        <div class="d-flex justify-content-end">
                                            <a sec:authorize="hasAnyAuthority('ROLE_USER, ROLE_MODERATOR, ROLE_ADMIN')" th:href="@{/section/new}" th:text="#{new.section}" class="btn iis-btn"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="container">
                            <ul class="iis-list">
                                <li th:each="section : ${sections}">
                                    <form th:action="@{/section/} + ${section.id}">
                                        <button th:text="${section.name}" th:disabled="${section.getIsPublic() == 0}" class="btn btn-block iis-btn2"></button>
                                    </form>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>

                <!-- RECENT TOPICS -->

                <div class="row iis-coffee iis-oval pb-4" th:if="${topics.size() > 0}" id="recent-topics">
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <h4 th:text="#{recent.topics}">Recent topics</h4>
                            </div>
                        </div>

                        <div class="container">
                            <div class="row">
                                <div class="col">

                                    <div class="row iis-topics" th:each="topic : ${topics}">
                                        <div class="col">
                                            <a th:href="@{/topic/} + ${topic.id}">
                                                <span class="iis-tpc-head" th:text="${topic.title}"></span>
                                            </a>
                                            <br>
                                            <span th:text="'@' + ${topic.user.username} + ' &#9679 '"></span>
                                            <a th:href="@{/topic/} + ${topic.id}">
                                                <span th:text="${topic.creationDate} ? ${#calendars.format(topic.creationDate, 'dd MMMM yyyy HH:mm')}"></span>
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- RECENT POSTS -->

                <div class="row iis-coffee iis-oval pb-4" th:if="${posts.size() > 0}" id="recent-posts">
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <h4 th:text="#{recent.posts}">Recent postss</h4>
                                <div class="divider"></div>
                            </div>
                        </div>

                        <div class="container">
                            <div class="row">
                                <div class="col">

                                    <div class="row iis-topics" th:each="post : ${posts}">
                                        <div class="col">
                                            <span th:text="'@' + ${post.user.username} + ' replied to '"></span>
                                            <a th:href="@{/topic/} + ${post.topic.id}">
                                                <span th:text="${post.topic.title} + ':'"></span>
                                            </a>
                                            <br>
                                            <a th:href="@{/topic/} + ${post.topic.id}">
                                                <span th:text="${post.creationDate} ? ${#calendars.format(post.creationDate, 'dd MMMM yyyy HH:mm')}"></span>
                                            </a>
                                            <span th:text="' - ' + ${post.content}"></span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <footer th:replace="fragments/footer :: footer"></footer>
    </div>
</body>
</html>
