<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Kokot pica u holica</title>
</head>
<body>
<div align="center">
    <h1>Uzivatelia ty kokot!</h1>
    <table>
        <thead>
        <tr>
            <th>Meno kokota</th>
            <th>Priezvisko kokota</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="uzivatel : ${listOfUzivatelia}">
                <td th:text="${uzivatel.meno}"></td>
                <td th:text="${uzivatel.priezvisko}"></td>
            </tr>
        </tbody>
    </table>
</div>
</body>

</html>