<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: head">
</head>
<body>
    <nav th:replace="fragments/navbar :: navbar"></nav>
    <div class="iis-main">
        <div class="container iis-camel iis-users-padding iis-resp-padding">
            <div class="container iis-coffee iis-oval p-4"
                <form th:action="@{/users}">
                    <input type="text" class="form-control iis-btn2" name="name" placeholder="Search User" />
                    <input class="btn iis-btn" type="submit" value="Search" />
                </form>
                <br>
                <div class="row">
                    <div class="col">
                        <table>
                            <tr>
                                <th>NAME</th>
                                <th>EMAIL</th>
                            </tr>
                            <tr th:each="user : ${users}">
                                <td th:text="${user.username}">Onions</td>
                                <td th:text="${user.email}">123</td>
                                <td>
                                    <form th:action="@{/user/} + ${user.username}">
                                        <button type="submit"
                                                name="action"
                                                class="btn iis-link"
                                                th:text="#{user.view}"
                                                th:disabled="${user.isPublic == 0 && user.getUsername() != #authentication.name}"
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        </table>

                    </div>
                </div>
        </div>
    </div>
    <footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
