/* .css pre login.html								*/
/* Vytvoril: Tomáš Lisický, xlisic01 VUTBR FIT		*/
/* využíva prvky s prefixom IIS						*/
.iis-bg-dbrown, body {
	background-color: #201005;
}
.iis-bg-brown {
	background-color: #302015;
}
.iis-bg-lbrown {
	background-color: #442509;
}
.iis-login-blank10 {
	min-height: 25px;
	height: 10%;
}
.iis-login-blank15 {
	min-height: 50px;
	height: 15%;
}
.iis-login-blank20 {
	min-height: 100px;
	height: 20%;
}
.iis-login-screen {
	height: 600px;
	width: 400px;
	border-radius: 35px;
	
	color: #DEB887;
}
a:link, a:visited {
	color: #DEB887;
	text-decoration: underline;
}
a:hover {
	color: #FFFFFF;
}
.iis-login-btn {
	margin: 0;
	position: absolute;
	left: 40%;
	width: 20%;
}
.iis-reg-btn {
	margin: 0;
	position: absolute;
	left: 35%;
	width: 30%;
}
.iis-btn-color {
	background-color: #302015;
}
